<div class="row">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
          Projects
        </h2>
        <div class="divider-custom divider-light text-center">
          <div
            class="divider-custom-line"
            style="background-color: #2c3e50"
          ></div>
          <div class="divider-custom-icon text-secondary">
            <i class="fas fa-star"></i>
          </div>
          <div
            class="divider-custom-line"
            style="background-color: #2c3e50"
          ></div>
        </div>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card" style="width: 22rem;">
              <%= image_tag project.image, alt: "project image" %>
              <div class="card-body w-100 d-flex flex-column justify-content-between">
                <h5 class="card-title"><%= project.name %></h5>
                <p class="card-text"><%= project.description %></p>
                <p class="card-tech"><%= project.tech %></p>
                <div class="links d-flex justify-content-between">
                  <% link_to project.url, class: 'btn btn-outline-primary btn-sm', target: '_blank' do %>
                    View site <i class="fas fa-external-link-alt"></i>
                  <% end %>
                  <% link_to project.repo, class: 'repo btn btn-outline-secondary btn-sm', target: '_blank' do %>
                    Repo <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
