<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
          Projects
        </h2>
        <div class="divider-custom divider-light text-center">
          <div
            class="divider-custom-line"
            style="background-color: #2c3e50"
          ></div>
          <div class="divider-custom-icon text-secondary">
            <i class="fas fa-star"></i>
          </div>
          <div
            class="divider-custom-line"
            style="background-color: #2c3e50"
          ></div>
        </div>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card" style="width: 25rem;">
              <%= image_tag project.image, alt: "project image" %>
              <div class="card-body w-100">
                <h5 class="card-title"><%= project.name %></h5>
                <p class="card-text"><%= project.description %></p>
                <% link_to project.url, class: 'external-link', target: '_blank' do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
