  
<section class="page-section bg-primary text-white mb-0" id="skills">
  <div class="container">
    <!-- Skills Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      Skills
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line" style="background-color: white !important"></div>
      <div class="divider-custom-icon" style="color: white !important"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line" style="background-color: white !important"></div>
    </div>
    <!-- Skills Section Content-->
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-center">
        <div class="skills d-flex flex-column align-items-center">
          <div class="skills-top d-flex">
            <div class="skill">
              <i class="devicon-javascript-plain"></i>
            </div>
            <div class="skill">
              <i class="devicon-ruby-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-html5-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-css3-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-postgresql-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-sqlite-plain-wordmark"></i>
            </div>
          </div>
          <div class="skills-bottom d-flex">
            <div class="skill">
              <i class="devicon-rails-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-react-original-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-sass-original"></i>
            </div>
            <div class="skill">
              <i class="devicon-webpack-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-github-original-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-git-plain-wordmark"></i>
            </div>
            <div class="skill">
              <i class="devicon-heroku-original-wordmark"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
