<footer class="footer" id="footer">
  <div class="py-3 text-white">
    <div>
      <small>
        <a
              class="btn btn-outline-light btn-social mx-1"
              href="mailto:hemming.dev@gmail.com"
              target="_blank"
              ><i class="fab fa-solid fa-envelope"></i
            ></a>
        <a
              class="btn btn-outline-light btn-social mx-1"
              href="https://github.com/lw-a"
              target="_blank"
              ><i class="fab fa-fw fa-github"></i
            ></a>
        <a
              class="btn btn-outline-light btn-social mx-1"
              href="https://www.linkedin.com/in/adam-hemming/"
              target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
        Copyright &copy; Adam Hemming 2022</small>
    </div>
  </div>
</footer>
