<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <%= image_tag "images/103736492.jpeg", alt: "Profile image", class: "masthead-avatar mb-5" %>
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Adam Hemming</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line" style="background-color: white !important"></div>
      <div class="divider-custom-icon" style="color: white !important"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line" style="background-color: white !important"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">
      Full Stack Web Developer
    </p>
  </div>
</header>
